# Capa Bronze — Load RAW to Bronze

Este notebook carga el archivo **'raw_fighter_details.csv'** desde la capa **RAW** y lo guarda **tal cual** en la capa **Bronze** en formato Parquet.

## Imports

In [21]:
# Librerías estándar para rutas, fechas y manejo de datos
import os
from datetime import datetime
import pandas as pd

## Parámetros de entrada/salida

In [ ]:
# Ruta al archivo RAW (subimos un nivel desde /notebooks a la raíz del repo y entramos en data/raw/)
source_file_path = os.path.join(os.curdir, "..", "data", "raw", "raw_fighter_details.csv")

## Definición de la salida (Bronze)

In [22]:
# Nombre del archivo BRONZE y rutas de salida
bronze_file_name = "fighter_details_bronze.parquet"
bronze_path = os.path.join(os.curdir, "..", "data", "bronze")
bronze_file_path = os.path.join(bronze_path, bronze_file_name)

## Cargar CSV desde la capa RAW

In [23]:
# Leemos el CSV original (RAW) para generar la capa Bronze
fighter_details_df = pd.read_csv(source_file_path)

## Vista previa

In [24]:
# Mostramos las 5 primeras filas para validar la carga
fighter_details_df.head()

,fighter_name,Height,Weight,Reach,Stance,DOB,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg
0,Tom Aaron,NaN,155 lbs.,NaN,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Papy Abedi,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,48%,3.47,57%,50%,1.3
2,Shamil Abdurakhimov,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.45,44%,2.45,58%,1.23,24%,47%,0.2
3,Danny Abbadi,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
4,Hiroyuki Abe,"5' 6""",145 lbs.,NaN,Orthodox,NaN,1.71,36%,3.11,63%,0.00,0%,33%,0.0

## Añadir sello temporal (columna `_BronzeTimestamp`)

In [25]:
# Añadimos una columna con la fecha/hora actual para rastrear el momento de creación de la capa Bronze
fighter_details_df['_BronzeTimestamp'] = datetime.now()

In [26]:
# Comprobamos que la columna _BronzeTimestamp se haya añadido correctamente
fighter_details_df.head()

,fighter_name,Height,Weight,Reach,Stance,DOB,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,_BronzeTimestamp
0,Tom Aaron,NaN,155 lbs.,NaN,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0,2025-11-10 13:49:51.311624
1,Papy Abedi,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,48%,3.47,57%,50%,1.3,2025-11-10 13:49:51.311624
2,Shamil Abdurakhimov,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.45,44%,2.45,58%,1.23,24%,47%,0.2,2025-11-10 13:49:51.311624
3,Danny Abbadi,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,2025-11-10 13:49:51.311624
4,Hiroyuki Abe,"5' 6""",145 lbs.,NaN,Orthodox,NaN,1.71,36%,3.11,63%,0.00,0%,33%,0.0,2025-11-10 13:49:51.311624

## Crear carpeta de salida (si no existe)

In [27]:
# Creamos el directorio ../data/bronze si no existe
os.makedirs("../data/bronze", exist_ok=True)

In [28]:
# Guardamos el DataFrame en formato Parquet en la ruta de BRONZE definida
fighter_details_df.to_parquet(bronze_file_path, index=False)